* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: center;
}

main img {
  height: 500px;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

.sub-container {
  display: flex;
}

#container {
  display: flex;
}


#radio-container {
  display: flex;
  flex-direction: column;
}

#checkbox-container {
  display: flex;
}
